files:
  "/opt/samhain-install.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
		#!/bin/bash

		wget https://la-samhna.de/samhain/samhain-current.tar.gz
		versioned_samhain=$(tar xvfz samhain-current.tar.gz | head -n 1)
		tar xvfz $versioned_samhain
		version_samhain_dir=$(echo "${versioned_samhain/.tar.gz/}")
		cd $version_samhain_dir
		./configure
		make
		make install
		make install-boot
