commands:
  iptables_logging:
    command: "iptables -I OUTPUT -p tcp -m tcp --dport 22 -m state --state NEW,ESTABLISHED -j LOG --log-prefix 'Outgoing SSH connection'"
  second_nameserver:
    command: "echo 'nameserver 169.254.169.253' >> /etc/resolv.conf"
  compilers_access_gcc:
    command: "chmod 750 /usr/bin/gcc* -R"
  compilers_access_gnu:
  	command: "chmod 750 /usr/bin/as -R"